{%- comment -%}
  Renders an event card for grid layout

  Accepts:
  - event: {Object} Event metaobject

  Usage:
  {% render 'events-grid-card', event: event %}
{%- endcomment -%}

<div class="events-grid-card">
  {%- if event.image != blank -%}
    <div class="events-grid-card__image">
      <img
        src="{{ event.image | image_url: width: 800 }}"
        alt="{{ event.title | escape }}"
        loading="lazy"
        width="{{ event.image.width }}"
        height="{{ event.image.height }}"
      >
    </div>
  {%- endif -%}
  <div class="events-grid-card__content">
    <svg class="graphic" xmlns="http://www.w3.org/2000/svg" width="142" height="151" viewBox="0 0 142 151" fill="none">
      <path opacity="0.45" d="M90.7456 55.7831C97.6617 51.5827 102.194 44.7173 108.331 39.5855C117.276 32.1068 128.047 27.9249 139.772 27.3947C149.178 26.9705 163.485 29.2897 172.333 32.5771C178.576 34.901 186.359 38.0363 189.72 44.1317C191.44 47.2578 190.495 51.1769 187.327 52.9059C185.082 54.1324 176.824 54.6627 173.947 54.7779C170.867 54.907 167.524 54.5474 164.49 54.7825C162.549 54.9347 159.925 55.4603 157.957 55.8199C154.065 56.5254 150.436 56.945 147.402 59.6238C143.423 63.1326 139.73 68.0615 137.508 72.8844C137.291 73.3593 136.097 76.4024 136.272 76.6006C136.424 76.7666 140.251 77.3153 140.781 77.3752C147.564 78.159 153.922 77.3061 160.668 78.7492C175.786 81.9814 189.997 85.5086 201.662 96.1917C206.628 100.743 211.52 111.578 211.852 118.286C212.008 121.514 212.451 127.559 210.348 130.03C205.083 136.222 194.405 127.803 188.996 125.447C182.559 122.639 175.109 121.744 168.215 120.569C175.367 128.167 182.882 136.812 186.059 146.975C187.733 152.332 188.198 161.853 187.811 167.488C187.475 172.463 181.66 183.363 179.184 188.135C176.515 193.28 173.804 201.096 166.523 198.896C160.548 197.093 162.258 189.149 161.986 184.289C161.677 178.701 160.907 172.767 159.57 167.34C158.284 162.102 156.435 156.588 152.133 153.07C152.041 157.432 152.59 162.015 152.304 166.377C151.861 173.168 148.481 184.257 143.954 189.417C140.044 193.875 131.878 197.969 126.548 200.842C116.469 206.278 105.758 209.552 94.886 213.033C88.6845 214.149 84.8484 207.509 88.8551 202.553C91.096 199.782 93.9915 197.863 96.2231 194.779C98.9204 191.053 102.236 185.728 104.522 181.712C107.469 176.539 109.249 171.582 109.562 165.597C109.733 162.333 109.613 159.013 109.668 155.744C105.813 160.143 102.6 165.086 98.8144 169.544C88.7353 181.426 70.6427 186.65 55.8145 189.324C48.4188 190.657 33.9503 190.09 27.0342 187.005C24.0971 185.691 21.4505 183.879 18.8086 182.099C15.5396 179.905 11.9985 178.346 12.8561 173.523C13.7091 168.714 18.5919 168.484 22.2159 166.856C25.6924 165.298 29.607 163.121 33.0881 161.365C39.6353 158.068 43.9464 154.163 49.7467 149.976C52.3933 148.063 54.9108 146.832 57.2438 144.448C60.7572 140.856 63.7634 136.623 66.0319 132.146C61.6148 133.442 57.3038 135.24 52.7161 135.909C47.6258 136.651 37.3945 137.324 32.6639 135.734C18.5089 130.975 10.6337 122.491 6.4287 108.212C5.36823 104.616 4.73195 100.904 3.77752 97.2799C2.43118 92.1435 0.692923 87.7264 0.250291 82.3272C-0.178509 77.0755 -0.819397 65.1752 5.61722 63.1003C11.8925 61.0762 13.603 67.8264 18.1631 70.3162C20.5376 71.6072 22.5525 72.4094 24.6273 74.3183C26.8036 76.3194 27.9194 79.0766 30.4692 80.718C32.4841 82.0229 35.0891 82.6914 37.2793 83.9271C40.0227 85.4763 40.5898 86.6659 43.9695 87.2515C45.076 87.4405 46.2149 87.5281 47.3353 87.6203C43.7113 80.1094 41.8623 71.5703 42.4387 63.1879C42.8998 56.4793 47.2846 40.7658 50.5444 34.8963C54.3114 28.1001 63.8326 20.414 69.9879 15.4943C76.0695 10.63 82.5937 8.0295 89.7957 5.2446C94.9275 3.26659 105.583 -1.23352 110.756 0.320312C116.621 2.08162 116.912 9.43117 112.73 13.378C108.631 17.2464 103.628 20.3955 99.5336 24.559C94.1575 30.0274 92.719 34.4307 91.3542 41.8678C90.5058 46.4693 90.4966 51.1124 90.7456 55.7831Z" fill="#F8F5ED"/>
    </svg>
    {%- if event.title != blank -%}
      <h3 class="events-grid-card__title">
        {{ event.title }}
      </h3>
    {%- endif -%}

    {%- if event.start_date != blank or event.end_date != blank -%}
      <div class="events-grid-card__dates">
        {%- if event.start_date != blank -%}
          {%- assign formatted_start_date = event.start_date | date: '%b %d' -%}
          <span class="events-grid-card__start-date">{{ formatted_start_date }}</span>
        {%- endif -%}
        {%- if event.start_date != blank and event.end_date != blank -%}
          <span class="events-grid-card__date-separator"> - </span>
        {%- endif -%}
        {%- if event.end_date != blank -%}
          {%- assign formatted_end_date = event.end_date | date: '%b %d' -%}
          <span class="events-grid-card__end-date">{{ formatted_end_date }}</span>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- if event.link != blank -%}
      <a
        href="{{ event.link }}"
        class="button events-grid-card__button button--white"
      >
        {{ event.button_label | default: 'Book your seats' }}
      </a>
    {%- endif -%}
  </div>
</div>
