{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #FindUs-{{ section.id }} {
    position: relative;
    {%- if section.settings.background_color != blank -%}
      background-color: {{ section.settings.background_color }};
    {%- endif -%}
    {%- if section.settings.background_image != blank -%}
      background-image: url('{{ section.settings.background_image | image_url: width: 2000 }}');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    {%- endif -%}
  }

  {%- if section.settings.overlay_image != blank -%}
    #FindUs-{{ section.id }}::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('{{ section.settings.overlay_image | image_url: width: 2000 }}');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      pointer-events: none;
      z-index: 1;
    }
    #FindUs-{{ section.id }} .find-us__content {
      position: relative;
      z-index: 2;
    }
  {%- endif -%}
{%- endstyle -%}

<div id="FindUs-{{ section.id }}" class="find-us-section section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="find-us__content">
      {%- if section.settings.title != blank -%}
        <h2 class="find-us__title ">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}

      {%- if section.settings.subtitle != blank -%}
        <p class="find-us__subtitle">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="29" viewBox="0 0 23 29" fill="none">
            <path d="M11.07 0C4.96 0 0 4.64 0 10.35C0 19.06 9.81 28.15 10.22 28.54H11.91C12.33 28.15 22.14 19.06 22.14 10.35C22.14 4.64 17.17 0 11.07 0ZM11.07 6.19C13.08 6.19 14.71 7.82 14.71 9.83C14.71 11.84 13.08 13.47 11.07 13.47C9.06 13.47 7.43 11.84 7.43 9.83C7.43 7.82 9.06 6.19 11.07 6.19Z" fill="#53BCAE"/>
          </svg>
          {{ section.settings.subtitle }}
        </p>
      {%- endif -%}

      {%- if section.settings.button_label != blank -%}
        <a
          {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link }}"
          {% endif %}
          class="button find-us__button"
        >
          {{- section.settings.button_label | escape -}}
        </a>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Find Us",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "overlay_image",
      "label": "Overlay image"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Find Us"
    }
  ]
}
{% endschema %}
